# Assignment No. - 9 : Association Rule

Prepare rules for the all the data sets 
1) Try different values of support and confidence. Observe the change in number of rules for different support,confidence values.

2) Change the minimum length in apriori algorithm.

3) Visulize the obtained rules using different plots.

# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

import warnings 
warnings.filterwarnings('ignore')

# Importing Data

# 1) books data

In [3]:
book_data=pd.read_csv('book.csv')
book_data.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [4]:
book_data.shape

(2000, 11)

In [5]:
book_data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 2000 entries, 0 to 1999

Data columns (total 11 columns):

 #   Column     Non-Null Count  Dtype

---  ------     --------------  -----

 0   ChildBks   2000 non-null   int64

 1   YouthBks   2000 non-null   int64

 2   CookBks    2000 non-null   int64

 3   DoItYBks   2000 non-null   int64

 4   RefBks     2000 non-null   int64

 5   ArtBks     2000 non-null   int64

 6   GeogBks    2000 non-null   int64

 7   ItalCook   2000 non-null   int64

 8   ItalAtlas  2000 non-null   int64

 9   ItalArt    2000 non-null   int64

 10  Florence   2000 non-null   int64

dtypes: int64(11)

memory usage: 172.0 KB

In [6]:
book_data.dtypes

ChildBks     int64
YouthBks     int64
CookBks      int64
DoItYBks     int64
RefBks       int64
ArtBks       int64
GeogBks      int64
ItalCook     int64
ItalAtlas    int64
ItalArt      int64
Florence     int64
dtype: object

In [7]:
book_data.columns

Index(['ChildBks', 'YouthBks', 'CookBks', 'DoItYBks', 'RefBks', 'ArtBks',
       'GeogBks', 'ItalCook', 'ItalAtlas', 'ItalArt', 'Florence'],
      dtype='object')

In [8]:
book_data.isnull().sum()

ChildBks     0
YouthBks     0
CookBks      0
DoItYBks     0
RefBks       0
ArtBks       0
GeogBks      0
ItalCook     0
ItalAtlas    0
ItalArt      0
Florence     0
dtype: int64

# Apriori Algorithm

In [9]:
frequent_itemsets = apriori(book_data, min_support=0.1, use_colnames=True)
frequent_itemsets

    support                       itemsets
0    0.4230                     (ChildBks)
1    0.2475                     (YouthBks)
2    0.4310                      (CookBks)
3    0.2820                     (DoItYBks)
4    0.2145                       (RefBks)
5    0.2410                       (ArtBks)
6    0.2760                      (GeogBks)
7    0.1135                     (ItalCook)
8    0.1085                     (Florence)
9    0.1650           (YouthBks, ChildBks)
10   0.2560            (ChildBks, CookBks)
11   0.1840           (DoItYBks, ChildBks)
12   0.1515             (ChildBks, RefBks)
13   0.1625             (ArtBks, ChildBks)
14   0.1950            (GeogBks, ChildBks)
15   0.1620            (YouthBks, CookBks)
16   0.1155           (YouthBks, DoItYBks)
17   0.1010             (YouthBks, ArtBks)
18   0.1205            (YouthBks, GeogBks)
19   0.1875            (DoItYBks, CookBks)
20   0.1525              (CookBks, RefBks)
21   0.1670              (ArtBks, CookBks)
22   0.1925             (GeogBks, CookBks)
23   0.1135            (ItalCook, CookBks)
24   0.1055             (DoItYBks, RefBks)
25   0.1235             (ArtBks, DoItYBks)
26   0.1325            (GeogBks, DoItYBks)
27   0.1105              (GeogBks, RefBks)
28   0.1275              (ArtBks, GeogBks)
29   0.1290  (YouthBks, ChildBks, CookBks)
30   0.1460  (DoItYBks, ChildBks, CookBks)
31   0.1225    (ChildBks, RefBks, CookBks)
32   0.1265    (ArtBks, ChildBks, CookBks)
33   0.1495   (GeogBks, ChildBks, CookBks)
34   0.1045  (GeogBks, DoItYBks, ChildBks)
35   0.1020    (ArtBks, GeogBks, ChildBks)
36   0.1015    (ArtBks, DoItYBks, CookBks)
37   0.1085   (GeogBks, DoItYBks, CookBks)
38   0.1035     (ArtBks, GeogBks, CookBks)

In [10]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
1,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
2,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(DoItYBks),(ChildBks),0.2820,0.4230,0.1840,0.652482,1.542511,0.064714,1.660347
...,...,...,...,...,...,...,...,...,...
95,"(ArtBks, CookBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
96,"(GeogBks, CookBks)",(ArtBks),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
97,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
98,(GeogBks),"(ArtBks, CookBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
99,(CookBks),"(ArtBks, GeogBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237

An leverage value of 0 indicates independence. Range will be [-1 1]

A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [11]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
29,(CookBks),(ItalCook),0.4310,0.1135,0.1135,0.263341,2.320186,0.064582,1.203406
28,(ItalCook),(CookBks),0.1135,0.4310,0.1135,1.000000,2.320186,0.064582,inf
77,"(ArtBks, ChildBks)",(GeogBks),0.1625,0.2760,0.1020,0.627692,2.274247,0.057150,1.944628
80,(GeogBks),"(ArtBks, ChildBks)",0.2760,0.1625,0.1020,0.369565,2.274247,0.057150,1.328448
85,(ArtBks),"(DoItYBks, CookBks)",0.2410,0.1875,0.1015,0.421162,2.246196,0.056313,1.403674
84,"(DoItYBks, CookBks)",(ArtBks),0.1875,0.2410,0.1015,0.541333,2.246196,0.056313,1.654797
98,(GeogBks),"(ArtBks, CookBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
95,"(ArtBks, CookBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
97,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
96,"(GeogBks, CookBks)",(ArtBks),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
53,"(ChildBks, CookBks)",(RefBks),0.2560,0.2145,0.1225,0.478516,2.230842,0.067588,1.506277
56,(RefBks),"(ChildBks, CookBks)",0.2145,0.2560,0.1225,0.571096,2.230842,0.067588,1.734652
79,(ArtBks),"(GeogBks, ChildBks)",0.2410,0.1950,0.1020,0.423237,2.170444,0.055005,1.395719
78,"(GeogBks, ChildBks)",(ArtBks),0.1950,0.2410,0.1020,0.523077,2.170444,0.055005,1.591452
86,(DoItYBks),"(ArtBks, CookBks)",0.2820,0.1670,0.1015,0.359929,2.155264,0.054406,1.301418
83,"(ArtBks, CookBks)",(DoItYBks),0.1670,0.2820,0.1015,0.607784,2.155264,0.054406,1.830626
67,(GeogBks),"(ChildBks, CookBks)",0.2760,0.2560,0.1495,0.541667,2.115885,0.078844,1.623273
66,"(ChildBks, CookBks)",(GeogBks),0.2560,0.2760,0.1495,0.583984,2.115885,0.078844,1.740319
91,(GeogBks),"(DoItYBks, CookBks)",0.2760,0.1875,0.1085,0.393116,2.096618,0.056750,1.338806
90,"(DoItYBks, CookBks)",(GeogBks),0.1875,0.2760,0.1085,0.578667,2.096618,0.056750,1.718354

In [12]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(YouthBks),(ChildBks),0.2475,0.4230,0.1650,0.666667,1.576044,0.060308,1.731000
1,(ChildBks),(YouthBks),0.4230,0.2475,0.1650,0.390071,1.576044,0.060308,1.233750
2,(ChildBks),(CookBks),0.4230,0.4310,0.2560,0.605201,1.404179,0.073687,1.441240
3,(CookBks),(ChildBks),0.4310,0.4230,0.2560,0.593968,1.404179,0.073687,1.421069
4,(DoItYBks),(ChildBks),0.2820,0.4230,0.1840,0.652482,1.542511,0.064714,1.660347
...,...,...,...,...,...,...,...,...,...
95,"(ArtBks, CookBks)",(GeogBks),0.1670,0.2760,0.1035,0.619760,2.245509,0.057408,1.904063
96,"(GeogBks, CookBks)",(ArtBks),0.1925,0.2410,0.1035,0.537662,2.230964,0.057107,1.641657
97,(ArtBks),"(GeogBks, CookBks)",0.2410,0.1925,0.1035,0.429461,2.230964,0.057107,1.415327
98,(GeogBks),"(ArtBks, CookBks)",0.2760,0.1670,0.1035,0.375000,2.245509,0.057408,1.332800
99,(CookBks),"(ArtBks, GeogBks)",0.4310,0.1275,0.1035,0.240139,1.883445,0.048547,1.148237

In [13]:
rule1=association_rules(frequent_itemsets, metric= "confidence", min_threshold=0.7)
rule1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(RefBks),(ChildBks),0.2145,0.423,0.1515,0.706294,1.669725,0.060767,1.964548
1,(GeogBks),(ChildBks),0.2760,0.423,0.1950,0.706522,1.670264,0.078252,1.966074
2,(RefBks),(CookBks),0.2145,0.431,0.1525,0.710956,1.649549,0.060050,1.968556
3,(ItalCook),(CookBks),0.1135,0.431,0.1135,1.000000,2.320186,0.064582,inf
4,"(YouthBks, ChildBks)",(CookBks),0.1650,0.431,0.1290,0.781818,1.813963,0.057885,2.607917
5,"(YouthBks, CookBks)",(ChildBks),0.1620,0.423,0.1290,0.796296,1.882497,0.060474,2.832545
6,"(DoItYBks, ChildBks)",(CookBks),0.1840,0.431,0.1460,0.793478,1.841017,0.066696,2.755158
7,"(DoItYBks, CookBks)",(ChildBks),0.1875,0.423,0.1460,0.778667,1.840820,0.066687,2.606928
8,"(ChildBks, RefBks)",(CookBks),0.1515,0.431,0.1225,0.808581,1.876058,0.057204,2.972534
9,"(CookBks, RefBks)",(ChildBks),0.1525,0.423,0.1225,0.803279,1.899004,0.057993,2.933083
10,"(ArtBks, ChildBks)",(CookBks),0.1625,0.431,0.1265,0.778462,1.806175,0.056462,2.568403
11,"(ArtBks, CookBks)",(ChildBks),0.1670,0.423,0.1265,0.757485,1.790745,0.055859,2.379235
12,"(GeogBks, ChildBks)",(CookBks),0.1950,0.431,0.1495,0.766667,1.778809,0.065455,2.438571
13,"(GeogBks, CookBks)",(ChildBks),0.1925,0.423,0.1495,0.776623,1.835989,0.068072,2.583081
14,"(GeogBks, DoItYBks)",(ChildBks),0.1325,0.423,0.1045,0.788679,1.864490,0.048452,2.730446
15,"(ArtBks, GeogBks)",(ChildBks),0.1275,0.423,0.1020,0.800000,1.891253,0.048067,2.885000
16,"(ArtBks, DoItYBks)",(CookBks),0.1235,0.431,0.1015,0.821862,1.906873,0.048272,3.194159
17,"(GeogBks, DoItYBks)",(CookBks),0.1325,0.431,0.1085,0.818868,1.899926,0.051392,3.141354
18,"(ArtBks, GeogBks)",(CookBks),0.1275,0.431,0.1035,0.811765,1.883445,0.048547,3.022812

# ========================================================

# ========================================================

# 2) Movies Data

In [14]:
movies_data = pd.read_csv("my_movies.csv")
movies_data.head()

,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
0,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
1,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
2,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
3,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [15]:
movies_data.shape

(10, 15)

In [16]:
movies_data.dtypes

V1               object
V2               object
V3               object
V4               object
V5               object
Sixth Sense       int64
Gladiator         int64
LOTR1             int64
Harry Potter1     int64
Patriot           int64
LOTR2             int64
Harry Potter2     int64
LOTR              int64
Braveheart        int64
Green Mile        int64
dtype: object

In [17]:
movies_data.info()

<class 'pandas.core.frame.DataFrame'>

RangeIndex: 10 entries, 0 to 9

Data columns (total 15 columns):

 #   Column         Non-Null Count  Dtype

---  ------         --------------  -----

 0   V1             10 non-null     object

 1   V2             10 non-null     object

 2   V3             7 non-null      object

 3   V4             2 non-null      object

 4   V5             1 non-null      object

 5   Sixth Sense    10 non-null     int64

 6   Gladiator      10 non-null     int64

 7   LOTR1          10 non-null     int64

 8   Harry Potter1  10 non-null     int64

 9   Patriot        10 non-null     int64

 10  LOTR2          10 non-null     int64

 11  Harry Potter2  10 non-null     int64

 12  LOTR           10 non-null     int64

 13  Braveheart     10 non-null     int64

 14  Green Mile     10 non-null     int64

dtypes: int64(10), object(5)

memory usage: 1.3+ KB

# Data Preprocessing

In [18]:
data=pd.get_dummies(movies_data)
data

,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile,...,V2_LOTR,V2_LOTR1,V2_LOTR2,V2_Patriot,V3_Braveheart,V3_Gladiator,V3_Harry Potter1,V3_Sixth Sense,V4_Green Mile,V5_LOTR2
0,1,0,1,1,0,1,0,0,0,1,...,0,1,0,0,0,0,1,0,1,1
1,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,1,0,0,0,0,0
2,0,0,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
6,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
8,1,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
9,1,1,0,0,0,0,0,1,0,1,...,1,0,0,0,0,1,0,0,1,0

# Apriori Algorithm

In [19]:
frequent_itemsets = apriori(data, min_support=0.1, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0         0.6                                      (Sixth Sense)
1         0.7                                        (Gladiator)
2         0.2                                            (LOTR1)
3         0.2                                    (Harry Potter1)
4         0.6                                          (Patriot)
...       ...                                                ...
1392      0.1  (Harry Potter1, Sixth Sense, V4_Green Mile, V5...
1393      0.1  (Sixth Sense, V4_Green Mile, V5_LOTR2, Green M...
1394      0.1  (Harry Potter1, Sixth Sense, V4_Green Mile, V5...
1395      0.1  (Harry Potter1, V4_Green Mile, V5_LOTR2, Green...
1396      0.1  (Harry Potter1, Sixth Sense, V4_Green Mile, V5...

[1397 rows x 2 columns]

In [20]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
2,(Sixth Sense),(LOTR1),0.6,0.2,0.1,0.166667,0.833333,-0.02,0.96
3,(LOTR1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
4,(Harry Potter1),(Sixth Sense),0.2,0.6,0.1,0.500000,0.833333,-0.02,0.80
...,...,...,...,...,...,...,...,...,...
64247,(V2_LOTR1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(LOTR1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V1_Sixth Sense),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V3_Harry Potter1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(LOTR2),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [21]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
32126,"(Harry Potter1, V3_Harry Potter1, Green Mile, ...","(Sixth Sense, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33436,"(V2_LOTR1, V5_LOTR2, LOTR1)","(Harry Potter1, Sixth Sense, LOTR2, V4_Green M...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33414,"(Harry Potter1, V2_LOTR1, V5_LOTR2)","(LOTR1, Sixth Sense, LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33415,"(Harry Potter1, V5_LOTR2, LOTR1)","(V2_LOTR1, Sixth Sense, LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33416,"(Harry Potter1, LOTR2, V5_LOTR2)","(LOTR1, V2_LOTR1, Sixth Sense, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33417,"(Harry Potter1, V2_LOTR1, LOTR1)","(LOTR2, Sixth Sense, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33418,"(Harry Potter1, V2_LOTR1, LOTR2)","(LOTR1, Sixth Sense, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33419,"(Harry Potter1, LOTR2, LOTR1)","(V2_LOTR1, Sixth Sense, V5_LOTR2, V4_Green Mile)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33420,"(Sixth Sense, V5_LOTR2, V4_Green Mile)","(Harry Potter1, V2_LOTR1, LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33421,"(V2_LOTR1, Sixth Sense, V4_Green Mile)","(Harry Potter1, LOTR2, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33422,"(LOTR1, Sixth Sense, V4_Green Mile)","(Harry Potter1, LOTR2, V2_LOTR1, V5_LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33423,"(Sixth Sense, LOTR2, V4_Green Mile)","(Harry Potter1, V2_LOTR1, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33424,"(V2_LOTR1, Sixth Sense, V5_LOTR2)","(Harry Potter1, V4_Green Mile, LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33425,"(Sixth Sense, V5_LOTR2, LOTR1)","(Harry Potter1, V4_Green Mile, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33426,"(Sixth Sense, V5_LOTR2, LOTR2)","(Harry Potter1, V4_Green Mile, V2_LOTR1, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33427,"(V2_LOTR1, Sixth Sense, LOTR1)","(Harry Potter1, V4_Green Mile, V5_LOTR2, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33428,"(V2_LOTR1, Sixth Sense, LOTR2)","(Harry Potter1, V4_Green Mile, V5_LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33429,"(Sixth Sense, LOTR2, LOTR1)","(Harry Potter1, V4_Green Mile, V2_LOTR1, V5_LO...",0.1,0.1,0.1,1.0,10.0,0.09,inf
33430,"(V2_LOTR1, V4_Green Mile, V5_LOTR2)","(Harry Potter1, Sixth Sense, LOTR2, LOTR1)",0.1,0.1,0.1,1.0,10.0,0.09,inf
33431,"(V4_Green Mile, V5_LOTR2, LOTR1)","(Harry Potter1, Sixth Sense, V2_LOTR1, LOTR2)",0.1,0.1,0.1,1.0,10.0,0.09,inf

In [22]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.80
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.40
6,(Sixth Sense),(Patriot),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
7,(Patriot),(Sixth Sense),0.6,0.6,0.4,0.666667,1.111111,0.04,1.20
10,(Sixth Sense),(LOTR),0.6,0.1,0.1,0.166667,1.666667,0.04,1.08
...,...,...,...,...,...,...,...,...,...
64247,(V2_LOTR1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64248,(LOTR1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64249,(V1_Sixth Sense),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80
64250,(V3_Harry Potter1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
64251,(LOTR2),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.2,0.1,0.1,0.500000,5.000000,0.08,1.80

In [23]:
#Lets Sort the Rules by Confidence
rule1=association_rules(frequent_itemsets, metric= "confidence", min_threshold=0.7)
rule1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Sixth Sense),(Gladiator),0.6,0.7,0.5,0.833333,1.190476,0.08,1.8
1,(Gladiator),(Sixth Sense),0.7,0.6,0.5,0.714286,1.190476,0.08,1.4
2,(LOTR),(Sixth Sense),0.1,0.6,0.1,1.000000,1.666667,0.04,inf
3,(Green Mile),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
4,(V1_Sixth Sense),(Sixth Sense),0.2,0.6,0.2,1.000000,1.666667,0.08,inf
...,...,...,...,...,...,...,...,...,...
56755,"(V1_Sixth Sense, LOTR2)","(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56756,"(V3_Harry Potter1, LOTR2)","(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56757,(V5_LOTR2),"(Harry Potter1, Sixth Sense, V4_Green Mile, Gr...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56758,(V2_LOTR1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf
56759,(V3_Harry Potter1),"(Harry Potter1, Sixth Sense, V4_Green Mile, V5...",0.1,0.1,0.1,1.000000,10.000000,0.09,inf

# ========================================================

# ========================================================